body {
	padding: 0 30px;
}
#mainhome {
	padding-top: 25%;
}
/*#login {
	margin-top: 25%;
}*/
#login .hero-unit {
	background: none;
	color: #ccc;
	padding: 60px 0;
}
#login .form-signin {
	background: rgba(240,240,240,.45);
	padding: 10px 40px 30px 40px;
	border-radius: 25px;
}
#login form {
	box-sizing: border-box;
}
#login form,
#login form .input-prepend {
	width: 100%;
}
#login form .input-prepend input {
	width: calc(100% - 28px);
}




