body {
	padding: 0 50px;
	background: url(../img/i-should-buy-a-boat.jpg) no-repeat;
	background-size: cover;
}
.form-signin .alert {
	margin-bottom: 0;
	margin-top: 20px;
}
input[type=text], input[type=password] {
	box-sizing: content-box;
}
#mainhome {
	max-width: 1170px;
	margin: 30px auto 0;
}
#mainhome > nav {
	margin-bottom: 20px;
}
#home {
	border-radius: 5px;
}
#home nav h4 {
	color: #eee;
	padding: 0 20px;
}
#home nav.sidebar ul li a,
#home section {
	background: rgba(240,240,240,.85);
}
#home nav.sidebar ul li:first-child a,
#home section {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#home nav.sidebar ul li:last-child a,
#home section {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#home section {
	padding: 20px;
	min-height: 300px;
}
#home section .toolpanel {
	margin-bottom: 20px;
}